################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YoutubeBooster/v14
/packages
/Xamarin.Forms/XamarinForms/XamarinForms.Droid/bin/Debug
/Xamarin.Forms/XamarinForms/XamarinForms.Droid/obj/Debug
